body{
    background-color: rgb(209, 204, 204);
 font-family: 'Open Sans', sans-serif;
}
.navbar{
 display: flex;
 flex-direction: row;
 /* border: 2px red solid; */
 box-shadow: 3px 4px 10px gray;
}

.navbar h1{
    position: absolute;
    left: 600px;
}
.navbar img{
 height: 90px;
 padding: 4px 0px;
}
.navbar button{
 height: 50px;
 width: 100px;
 position: absolute;
 right: 30px;
 top: 30px;
 border-radius: 4px;
 font-size: 20px;
 border: 2px solid black;
 box-shadow: 3px 4px 10px gray;
}
.btn a{
text-decoration: none;    
     color: black;
}
.btn:hover{
 background-color: gray;
 cursor: pointer;
}
.signup_container{
 display: block;
 margin: auto;
 width: 300px;
 height: 300px;
 /* border: 2px red solid; */
 margin-top: 100px;
 padding: 10px;
}
.login_container h1 ,h3{
 text-align: center;

}
.tnp_signup, .student_signup{
/* border: 2px solid green; */
padding: 13px;
margin: 10px 0px;
box-shadow: 4px 4px 15px gray;
}
.btn2 a{
 text-decoration: none;
 color: black;
}
.btn2:hover{
 background-color: gray;
 cursor: pointer;
}
.btn2{
 display: block;
 margin: auto;
 width: 100px;
 height: 50px;
 border-radius: 4px;
 border: 2px solid black;
 box-shadow: 3px 4px 10px grey;
 font-size: 20px;
}

/* .footer{
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    position: absolute;
    bottom: 0px;
    width: 1500px;
    border-radius: 10px;
    padding: 4px 4px;
    box-shadow: 10px 10px 10px gray;
    margin-top: 10px;

}
.contact{
    position: relative;
    left: 15px;
}
.right{
    position: absolute;
    left: 1280px;
} */
.btn3{
    position: relative;
    left: 1280px;
    border: 2px solid black;
}
.btn3 a{
    text-decoration: none;
    color: black;
}
.btn3:hover{
    background-color: gray;
}