body{
    background-color: rgb(209, 204, 204);
 font-family: 'Open Sans', sans-serif;
 color: black;
}
.navbar{
 display: flex;
 flex-direction: row;
 /* border: 2px red solid; */
 box-shadow: 3px 4px 10px gray;
}

.navbar h1{
    position: absolute;
    left: 600px;
}
.navbar img{
 height: 90px;
 padding: 4px 0px;
 box-shadow: 3px 4px 10px gray;
}
.navbar button{
 height: 50px;
 width: 100px;
 position: absolute;
 right: 20px;
 top: 30px;
 border-radius: 4px;
 font-size: 20px;
 border:  2px solid black;
 box-shadow: 3px 4px 10px gray;
}
.btn a{
text-decoration: none;    
     color: black;
}
.btn:hover{
 background-color: gray;
 cursor: pointer;
}
.loginform{
 border: 0.2px solid gray;
 display: block;
 margin: auto;
 width: 400px;
 margin-top: 100px;
 padding: 20px;
 box-shadow: 10px 10px 10px gray;
}
.loginform h3{
 text-align: center;
 font-size: 40px;
}
.formclass{
 /* border: 2px solid red; */
 /* display: flex; */
 /* flex-direction: column; */
 /* align-items: center; */
 padding: 30px;
}

#userid,#userpassid,#loginid{
border-radius: 4px;
margin: 10px;
padding: 10px;
width: 300px;
text-align: center;
font-size: 20px;
color: black;
border: 2px solid black;
box-shadow: 4px 3px 10px gray;
}
.check_forgot{
margin:10px;
color: black;
}
/* #usercheckid{
position: absolute;
left:  00px;
} */
#forgotid{
position: relative;
left: 40px;
}
#loginid{
width: 325px;
cursor: pointer;
}
#loginid a{
text-decoration: none;
color: black;
}
#loginid:hover{
background-color: gray;
}
